---
import Layout from "~/layouts/Layout.astro";
import PostList from "~/components/PostList.astro";

const title = "Todd H. Gardner's Blog";
const description = "The latest software engineering ideas, writing, videos, and projects from Todd H. Gardner."
---

<Layout title={title} description={description}>
  <section class="max-text-width">
    <div class="text-center" style="margin-bottom: 32px;">
      <h1>{title}</h1>
      <div class="color-secondary">{description}</div>
    </div>
    <PostList page={true} />
  </section>
</Layout>
