---
import { Picture } from "astro:assets";
import Layout from "~/layouts/Layout.astro";
import {
  AUTHOR_NAME,
  AUTHOR_DESCRIPTION,
  AUTHOR_IMAGE,
  AUTHOR_TITLE,
  AUTHOR_LINKS
} from "~/consts";
import headerImage from "../images/javacriptaire.jpg";

const title = "About Todd H. Gardner";

---

<Layout
  title={title}
  description={AUTHOR_DESCRIPTION}>

  <Fragment slot="og">
    <meta property="og:type" content="profile">
    <meta property="og:profile:first_name" content="Todd H.">
    <meta property="og:profile:last_name" content="Gardner">
    <meta property="og:profile:username" content="toddhgardner">
  </Fragment>

  <Fragment slot="structured-data">
    <script is:inline type="application/ld+json" set:html={JSON.stringify({
      "@context": "https://schema.org",
      "@type": "ProfilePage",
      "dateCreated": "2014-01-09T00:00:00Z",
      "dateModified": (new Date()).toISOString(),
      "mainEntity": {
        "@type": "Person",
        "@id": "https://www.toddhgardner.com/#Person",
        "name": AUTHOR_NAME,
        "alternateName": "toddhgardner",
        "identifier": "toddhgardner",
        "description": AUTHOR_TITLE,
        "image": new URL(AUTHOR_IMAGE.src, Astro.url.origin),
        "sameAs": AUTHOR_LINKS.map((link) => link.url)
      }
    })} />
  </Fragment>

  <style>
    article {
      header {
        picture img {
          border-radius: var(--pico-border-radius);
          box-shadow: var(--pico-box-shadow);
        }
      }
    }
  </style>
  <article class="max-text-width">
    <header class="flex-column flex-gap-16">
      <Picture
        src={headerImage}
        alt="Todd H. Gardner hosting 'Who Wants to be a JavaScriptAire?' at NDC Oslo"
        formats={["webp"]}
        loading="eager"
        widths={[900,1200]} />
      <h1>{title}</h1>
      <div class="secondary">{AUTHOR_TITLE}</div>
    </header>
    <div class="main">

    </div>
    <footer>
      <h2>Find me online</h2>
      <p>
        Sometimes I write on other platforms and social networks. Connect with me there.
      </p>
      <ul class="flex flex-wrap justify-center unlist">
        {AUTHOR_LINKS.map((link) => (
          <li>
            <a href={link.url} rel="noopener" target="_blank">{link.name}</a>&nbsp;&nbsp;•&nbsp;&nbsp;
          </li>
        ))}
      </ul>
    </footer>
  </article>
</Layout>
