---
import { Picture } from "astro:assets";
import Layout from "~/layouts/Layout.astro";
import PostList from "~/components/PostList.astro";
import {
  AUTHOR_NAME,
  AUTHOR_TITLE,
  AUTHOR_DESCRIPTION,
  AUTHOR_IMAGE,
  CONTACT_LINK
} from "~/consts";

---

<Layout
  title={AUTHOR_NAME}
  description={AUTHOR_DESCRIPTION}>

  <Fragment slot="structured-data">
    <script is:inline type="application/ld+json" set:html={JSON.stringify({
      "@context": "https://schema.org/",
      "@type": "Person",
      "@id": "https://www.toddhgardner.com/#Person",
      "name": AUTHOR_NAME,
      "url": "https://www.toddhgardner.com/",
      "image": new URL(AUTHOR_IMAGE.src, Astro.url.origin),
    })} />
    <script is:inline type="application/ld+json" set:html={JSON.stringify({
      "@context": "https://schema.org",
      "@type": "BreadcrumbList",
      "itemListElement": [{
        "@type": "ListItem",
        "position": 1,
        "name": AUTHOR_NAME,
      }]
    })} />
  </Fragment>

  <style>
    section.about {
      margin-top: 32px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 16px;
      &>* {
        margin: 0;
        padding: 0;
      }
      picture img {
        border-radius: 100%;
        box-shadow: var(--pico-box-shadow);
      }
      .title {
        text-align: center;
        h1 {
          margin: 0;
        }
      }
      .subtitle {
        font-size: 1.5rem;
        line-height: 1.175;
        color: var(--pico-secondary);
      }
      .cta {
        width: 100%;
        a {
          display: block;
        }
      }
    }
  </style>
  <div class="grid">
    <section class="about">
      <Picture src={AUTHOR_IMAGE} formats={["webp"]}
        alt={ AUTHOR_NAME }
        loading="eager"
        width={ 240 } />
      <div class="title">
        <h1>{AUTHOR_NAME}</h1>
        <div class="subtitle">{AUTHOR_TITLE}</div>
      </div>
      <div class="bio">
        <p>
          I build software businesses and create fun things on the internet. I founded
          <a href="https://trackjs.com/" target="_blank">TrackJS</a>,
          <a href="https://requestmetrics.com/" target="_blank">Request Metrics</a>,
          and <a href="https://www.certkit.io" target="_blank">CertKit</a>.
        </p>
        <p>
          I also do professional training, speaking engagements, and consulting on
          product development and software engineering. I can make you better and faster at what you do.
        </p>
      </div>
      <div class="cta">
        <a role="button" href={CONTACT_LINK} target="_blank">Contact me</a>
      </div>
    </section>
    <section class="posts">
      <h2>Latest Posts</h2>
      <PostList limit={2} page={false} />
      <a href="/blog" style="display:block;text-align:center">Older posts</a>
    </section>
  </div>
</Layout>
