---
import { SITE_TITLE } from "~/consts";
import "@picocss/pico/css/pico.red.min.css";
import "@picocss/pico/css/pico.colors.min.css";
import "~/global.css";

interface Props {
  title: string;
  description: string;
  canonical?: URL;
  robots?: string;
}

const {
  title,
  description,
  canonical = Astro.url,
  robots = "index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1"
} = Astro.props;

---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />
<meta name="robots" content={robots}>
<meta name="color-scheme" content="light dark">
<link rel="sitemap" href={new URL("sitemap-index.xml", Astro.url.origin)} />
<link rel="canonical" href={canonical} />
<link
  rel="alternate"
  type="application/rss+xml"
  title={SITE_TITLE}
  href={new URL("feed.xml", Astro.url.origin)}
/>

<!-- Favicons -->
<link rel="icon" type="image/png" href="/favicon/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="/favicon/favicon.svg" />
<link rel="shortcut icon" href="/favicon/favicon.ico" />