---
import PostList from '~/components/PostList.astro';
import Layout from '~/layouts/Layout.astro';
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
  const tags = new Set<string>();
  const posts = await getCollection('blog');

  posts.forEach(post => {
    post.data.tags?.forEach(tag => tags.add(tag));
  });

  return Array.from(tags).map(tag => ({
    params: { tag }
  }));
}

const { tag } = Astro.params;

const title = `Todd's ${tag} Posts`;
const description = `The latest content about ${tag} from Todd H. Gardner.`;
---

<Layout
  title={title}
  description={description}>

  <Fragment slot="structured-data">
    <script is:inline type="application/ld+json" set:html={JSON.stringify({
      "@context": "https://schema.org/",
      "@type" : "Blog",
      "@id": "https://www.toddhgardner.com/blog#Blog",
      "name": "Todd H. Gardner",
      "publisher": {
        "@type": "Person",
        "@id": "https://www.toddhgardner.com/#Person",
        "name": "Todd H. Gardner"
      }
    })} />
    <script is:inline type="application/ld+json" set:html={JSON.stringify({
      "@context": "https://schema.org",
      "@type": "BreadcrumbList",
      "itemListElement": [{
        "@type": "ListItem",
        "position": 1,
        "name": "Todd H. Gardner",
        "item": "https://www.toddhgardner.com/"
      },{
        "@type": "ListItem",
        "position": 2,
        "name": "Blog"
      }]
    })} />
  </Fragment>

  <section class="max-text-width">
    <div style="margin-bottom: 32px;">
      <nav aria-label="breadcrumb">
        <ul>
          <li><a href={new URL("/", Astro.url.origin)} class="unlink">Home</a></li>
          <li><a href={new URL("/blog", Astro.url.origin)} class="unlink">Blog</a></li>
          <li>{tag}</li>
        </ul>
      </nav>

      <h1>{title}</h1>
      <div class="color-secondary">{description}</div>
    </div>
    <PostList page={true} tag={tag} />
  </section>
</Layout>
