---
import BaseHead from "~/components/BaseHead.astro";
import Header from "~/components/Header.astro";
import Footer from "~/components/Footer.astro";
import PostHog from "~/components/PostHog.astro";
import shareImage from "~/images/share.png";
import { AUTHOR_NAME } from "~/consts";

interface Props {
  title: string;
  description: string;
  url?: URL;
  image?: ImageMetadata
  robots?: string
}

const {
  title,
  description,
  url = new URL(Astro.url.pathname.replace(".html", ""), Astro.url.origin),
  image = shareImage,
  robots
} = Astro.props as Props;

---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={title}
      description={description}
      canonical={url}
      robots={robots} />

    <slot name="head" />
    <!-- Open Graph -->
    <meta property="og:title" content={title} />
    <meta property="og:site_name" content={AUTHOR_NAME} />
    <meta property="og:url" content={url} />
    <meta property="og:description" content={description} />
    <meta property="og:locale" content="en_US">
    <meta property="og:image" content={new URL(image.src, Astro.url.origin)} />
    <slot name="og" />
    <!-- Structured Data -->
    <slot name="structured-data" />
  </head>
  <body>
    <Header />

    <main class="container" style="min-height: calc(100vh - 193px);">
      <slot />
    </main>

    <Footer />
    <PostHog />
    <script>
      import { DateTime } from "luxon";

      /**
       * Transform the absolute ISO timestamps on blog posts into relative timestamps.
       * This executes client-side so that it is always current to the visitors time.
       */
      (function toRelativeTime() {
        const timeElements = document.querySelectorAll("time[datetime][to-rel]");

        for (const time of timeElements) {
          const datetime = time.getAttribute("datetime");
          if (datetime) {
            const dt = DateTime.fromISO(datetime);
            const relative = dt.toRelative({ style: "narrow" });
            time.textContent = relative;
          }
        }
      })();
    </script>
    <slot name="scripts"></slot>
  </body>
</html>
